/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14-11-2018, 12:50:29
    Author     : Eduardo
*/

.img-responsive-small{
	max-width: 50%;
	height: auto;
}

.tam_nav_bar{
  height: 100px;
}

.margen_extra{
  margin-top: 20px;
}

.a_la_izquierda{
  text-align: left;
}

.small_size{
  font-size: 14px;
}

.mas_margin_top{
  margin-top: 100px;
}

.mas_margin_bottom{
  margin-bottom: 20px;
}

.centro{
  text-align: center;
}